<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="source/plugin/summer_lottery/template/third-party/jquery.min.js"></script>
    <title>景点详情-{$info['jing_name']}</title>
</head>
<body>
    <div>赞数:{$con_zan}</div>
    <div>排行:{$rank}</div>
    <div>景点介绍</div>
    <div>{$info['jing_content']}</div>
    <div>
        <p>集赞列表</p>
        <!--{loop $leader_all $one}-->
        <div>
            <img src="{$one['leader_img']}">
            <span>昵称:{$one['leader_nickname']}</span>
            <span>总赞:{$one['con_zan']}</span>
        </div>
        <!--{/loop}-->
    </div>
    <div>
        <p>评论列表</p>
        <!--{loop $commert_list $val}-->
        <div>
            <img src="{$val['comment_img']}">
            <span>昵称:{$val['comment_nickname']}</span>
            <p>{$val['comment_cont']}</p>
        </div>
        <!--{/loop}-->
    </div>
<!--{if $share_id==0}-->
    <input class="jizan" type="button" value="发起集赞">
<!--{else}-->
    <input id="dian" type="button" value="为TA点赞">
    <input class="jizan" type="button" value="我要发起集赞">
<!--{/if}-->
<input type="hidden" id="share_id" value="{$share_id}">
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $(function (){
        $(".jizan").on("click",function(){
            $.post("plugin.php?id=summer_lottery:summer_ajax",{"action":"as_leader","open_id":"{$openid}","jing_id":$info['id']},function(res){
                if(res.status==200){
                    $("#share_id").val(res.leader_id);
                }else{
                    alert(res.msg);
                }
            },"json")
        })
    })
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: '{$signPackage["timestamp"]}',
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        var share_id = $("#share_id").val();
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: "我正在避暑景点集赞活动中为{$info['jing_name']}集赞,点击为我助力吧!", // 分享标题
            link: "http://xjz.cqdsrb.com.cn/plugin.php?id=summer_lottery"+""+"&page_to=info&share_id="+share_id+"&jing_id={$info['id']}", // 分享链接
            imgUrl: 'http://xjz.cqdsrb.com.cn/source/plugin/underway/template/img/share.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title:"我正在避暑景点集赞活动中为{$info['jing_name']}集赞,点击为我助力吧!", // 分享标题
            desc: "我正在避暑景点集赞活动中为{$info['jing_name']}集赞,点击为我助力吧!", // 分享描述
            link: "http://xjz.cqdsrb.com.cn/plugin.php?id=summer_lottery"+""+"&page_to=info&share_id="+share_id+"&jing_id={$info['id']}", // 分享链接
            imgUrl: 'http://xjz.cqdsrb.com.cn/source/plugin/underway/template/img/share.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</html>